body{
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

.header{
    width: 100%;
    height: 69px;
    display: block;
    background-color: black;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid seashell;
}

.logo{
    height: 50px;
    float: left;
    padding-left: 10px;
    padding-top: 8px;
}

.navbar{
    float: right;
    height: 100%;
    margin: 0 auto;
}

.navbar a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navbar a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-decoration: underline;
    color: white;
}

.mission-container{
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*3pyp3e*_ga*MTMxNDYxNjExOC4xNjQ1NTk2NTYz*_ga_3LRZM6TM9L*MTY1NTA4NDY2Ni43MS4xLjE2NTUwODQ2ODEuNDU.");
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    display: flex;
}

.text-over{
    margin: auto;
    background-color: black;
    width: 100%;
}

.trend-container{
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.trend img{
    height: 200px;
    width: 300px;
    padding: 10px;
    
}

.banner{
    height: 500px;
    max-width: 1200px;
    margin: 40px auto auto auto;
    padding-top: 85px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*3pyp3e*_ga*MTMxNDYxNjExOC4xNjQ1NTk2NTYz*_ga_3LRZM6TM9L*MTY1NTA4NDY2Ni43MS4xLjE2NTUwODQ2ODEuNDU.");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-top{
    font-size: 43px;
    font-weight: bold;
}

.box-container{
    max-width: 1050px;
    margin: 15px auto auto auto;   
    display: flex;
    justify-content: space-between;
}

.box{
    height: 300px;
    padding: 20px;
    margin-bottom: auto;
    flex-basis: 30%;
    box-sizing: border-box;
    background-color: black;
}